
* {
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: 'Noto Color Emoji';
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
  }

h1,h2,h3,h4,h5,p {
    font-family: 'Niconne', cursive;
}

i {
    /* font-size: 300%; */
    font-style: normal;
}


.announcer {
    color: rgb(247, 243, 7);
    font-size: 300%;
}

.stars {
    font-size: 2em;
    flex: 0 2 1;
}

.battlefield {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
}

.player-box {
    font-size: 8vw;
    grid-column: 0 1;
}
.player.zone {
    grid-column: 1 2;
    font-size: 8vw;
}
.opponent.zone {
    grid-column: 2 3;
    font-size: 8vw;
}
.opponent-box {
    grid-column: 3 4;
    font-size: 8vw;
}
header {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 300%;
    color: rgb(247, 243, 7);
}

body {
    background: linear-gradient(to left top, blue, red) fixed;
    background-image: linear-gradient(
    180deg,
    hsl(240deg 100% 20%) 0%,
    hsl(254deg 99% 23%) 26%,
    hsl(261deg 97% 25%) 45%,
    hsl(266deg 95% 28%) 58%,
    hsl(270deg 94% 31%) 68%,
    hsl(274deg 92% 34%) 76%,
    hsl(277deg 91% 37%) 81%,
    hsl(280deg 90% 39%) 86%,
    hsl(283deg 90% 42%) 92%,
    hsl(286deg 91% 44%) 100%
    );
}

.ground {
    display:flex;
}

.brick {
    width: 25%;
    height: auto;
    
}
/* GAME INFORMATION */
.game-information {
    display: flex;
    justify-content: space-between;
}


.announcer-box {
    text-align: center;
}
.player-box, .opponent-box {
    text-align: center;
}

.element:hover {
    transition: 200ms;
    transform: scale(1.4);
}

.element {
    background-color: transparent;
    border: none;
    transition: 850ms;
    font-size: 7vw;
}
.elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fire {
    margin-left: 50%;
    margin-right: 50%;
}
.water, .nature {
    margin: 0.5em;
}
/* TRANSITIONS */
/* WIZAD */
.player-box.animate {
    transition: transform 100ms;
    transform: translateX(10%);
    transition-timing-function: ease;
}

.opponent-box.animate {
    transition: transform 100ms;
    transform: translateX(-10%);
    transition-timing-function: ease;
}

/* CHOSEN ELEMENT */
.player.zone, .opponent.zone {
    opacity: 0%;
}
.opponent.zone {
    text-align: end;
}

.player.zone.animate {
    transition: transform 500ms;
    transform: translateX(89%);
    transition-timing-function: ease-in;
    opacity: 100%;
}
.opponent.zone.animate {
    transition: transform 500ms;
    transform: translateX(-89%);
    transition-timing-function: ease-in;
    opacity: 100%;
}

button.new-game {
    transition: 850ms;
    border-color: transparent;
    font-size: 4vh;
    opacity: 0%;
    font-family: 'Niconne', cursive;
    color: rgb(247, 243, 7);
    background-image: linear-gradient(
    180deg,
    hsl(240deg 100% 20%) 0%,
    hsl(254deg 99% 23%) 26%,
    hsl(261deg 97% 25%) 45%,
    hsl(266deg 95% 28%) 58%,
    hsl(270deg 94% 31%) 68%,
    hsl(274deg 92% 34%) 76%,
    hsl(277deg 91% 37%) 81%,
    hsl(280deg 90% 39%) 86%,
    hsl(283deg 90% 42%) 92%,
    hsl(286deg 91% 44%) 100%
    );
    border-radius: 15px;
}

button.new-game:hover {
    transition: 200ms;
    transform: scale(1.4);
}

.new-game-wrapper {
    text-align: center;
}